.products-content {
    padding: 0px 50px;
    margin: 0px auto;
}

.p-common {


    /* p-common reset */
    box-sizing: border-box;

    scroll-behavior: smooth;
    word-break: keep-all;
    text-size-adjust: 100%;

    html,
    body,
    div,
    span,
    object,
    iframe,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    blockquote,
    pre,
    abbr,
    address,
    cite,
    code,
    del,
    dfn,
    em,
    img,
    ins,
    kbd,
    q,
    samp,
    small,
    sub,
    sup,
    var,
    b,
    i,
    dl,
    dt,
    dd,
    ol,
    ul,
    li,
    fieldset,
    form,
    label,
    legend,
    table,
    caption,
    tbody,
    tfoot,
    thead,
    tr,
    th,
    td,
    article,
    aside,
    canvas,
    details,
    figcaption,
    figure,
    footer,
    header,
    hgroup,
    menu,
    nav,
    section,
    summary,
    time,
    mark,
    audio,
    video {
        margin: 0;
        padding: 0;
        border: 0;
        vertical-align: baseline;
    }


    section {
        display: block;
    }

    nav ul {
        list-style: none;
    }

    li {
        list-style: none;
    }

    blockquote,
    q {
        quotes: none;
    }

    blockquote:before,
    blockquote:after,
    q:before,
    q:after {
        content: '';
        content: none;
    }

    a {
        margin: 0;
        padding: 0;
        font-size: 100%;
        vertical-align: baseline;
        background: transparent;
        text-decoration: none;
        color: #222;
    }

    ins {
        background-color: #ff9;
        color: #000;
        text-decoration: none;
    }

    mark {
        background-color: #ff9;
        color: #000;
        font-style: italic;
        font-weight: bold;
    }

    del {
        text-decoration: line-through;
    }

    abbr[title],
    dfn[title] {
        border-bottom: 1px dotted;
        cursor: help;
    }

    table {
        border-collapse: separate;
        border-spacing: 0;
        table-layout: fixed
    }

    hr {
        display: block;
        height: 1px;
        border: 0;
        border-top: 1px solid #dddddd;
        margin: 1em 0;
        padding: 0;
    }

    input,
    select {
        vertical-align: middle;
        background: transparent;
        border: 1px solid #ddd;
    }

    br {
        font-size: 0;
        line-height: 0;
    }

    img {
        vertical-align: top;
    }

    button {
        cursor: pointer;
        border: 0;
        background-color: #fff;
    }

    button>* {
        position: relative;
        display: block;
    }

    ::-webkit-file-upload-button {
        cursor: pointer;
    }






    /************************************
            상품 관련 common 
********************************************/

    @font-face {
        font-family: 'Pretendard-Regular';
        font-weight: 300 400 500 600 700 800 900;
        src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
        font-style: normal;
    }


    li,
    p,
    button,
    div,
    span,
    input {
        font-family: 'Pretendard-Regular';
        letter-spacing: -0.5px;
    }

    :root {
        --dark-gray: #69696980;
        /* CSS 전역 변수 선언 */
        --light-gray: rgba(0, 0, 0, 0.55)
            /* CSS 전역 변수 선언 */
    }


    .f11 {
        font-size: 11px !important;
    }
    .f12 {
        font-size: 12px !important;
    }

    .f13 {
        font-size: 13px !important;
    }

    .f14 {
        font-size: 14px !important;
    }

    .f15 {
        font-size: 15px !important;
    }

    .f16 {
        font-size: 16px !important;
    }

    .f18 {
        font-size: 18px !important;
        // font-weight: 600;
    }

    .f20 {
        font-size: 20px !important;
    }

    .f22 {
        font-size: 22px !important;
    }

    .f24 {
        font-size: 24px !important;
    }

    .w500 {
        font-weight: 500 !important;
    }

    .w600 {
        font-weight: 600 !important;
    }

    .pt10 {
        padding-top: 10px;
    }

    .flex {
        display: flex !important;
    }

    .gap5 {
        gap: 5px;
    }

    .space-between {
        display: flex;
        justify-content: space-between;
    }

    .ver-center {
        vertical-align: center;
    }

    .align-center {
        align-items: center;
    }

    .list-none {
        list-style: none;
    }

    .text-center {
        text-align: center;
    }

    /* **************************
        상품리스트 페이지 ****
    ***************************/

    .product-all-top {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        row-gap: 1.5rem;
        column-gap: 0rem;
        margin: 30px 0;

        ul {
            position: relative;
            width: 100%;
            height: 100%;
            z-index: 1;
            display: flex;
            transition-property: transform;
            // transition-timing-function: var(--swiper-wrapper-transition-timing-function, initial);
            box-sizing: content-box;
            gap: 5px;
        }


        li {
            padding: 9px 14px;
            background-color: #0000000D;
            font-size: 13px;
            border-radius: 5px;
            color: rgba(0, 0, 0, 0.5);
            font-weight: 600;
            cursor: pointer;
        }

        li.active {
            padding: 9px 14px;
            background-color: #000000B3;
            font-size: 13px;
            border-radius: 5px;
            color: #ffffff;
        }

    }


    .product-all-bottom {
        padding: 30px 0 0;
        display: flex;
        border-top: 1px solid gray;
        padding: 20px 0;

        div:first-child {
            display: inline-flex;
            color: gray;
            gap: 5px;
        }

    }

    .grid-icon {
        padding: 0;
        margin-right: 10px;
        display: flex;
        gap: 5px;

        li {
            color: gray;
            display: flex;
            align-items: center;
            flex-direction: row;

        }
    }

    // .sort {
    //     cursor: pointer;
    //     position: relative;

    //     div:first-child {
    //         display: flex;
    //         width: 75px;
    //         height: 22px;
    //         line-height: 1;
    //         font-size: 11px;
    //         position: relative;
    //         padding: 0px 5px 0px 9px;
    //         border: #e5e5e5 1px solid;
    //         align-items: center;
    //         color: gray;
    //         justify-content: space-between;
            
        
    //     }

    // }

    .sort-wrap {
        position: relative;
        cursor: pointer;
      }
      
      .sort-btn{
        width: 75px;
        height: 22px;
        padding: 0px 5px 0px 9px ;
        line-height: 1;
        font-size: 11px;
        position: relative;
        padding: 0px 5px 0px 9px;
        border: #e5e5e5 1px solid;
        align-items: center;
        color: gray;
        justify-content: space-between;
      }

      .sort-dropdown {
        position: absolute;
        top: 100%;
        left: 0;
        background: white;
        color: gray;
        border: 1px solid #ddd;
        width:89px;
        font-size: 11px;
        z-index: 100;
        padding: 10px 0;
      
        li {
          padding: 8px 15px;
          cursor: pointer;
          &:hover {
            background-color: #f5f5f5;
          }
        }
      }



    /* 상품 그리드 */
    .product-grid-2 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
        width: 100%;
        margin: 0 auto;

      }
      
      .product-grid-3 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 50px;
        width: 100%;
        margin: 0 auto;

      }
      
      .product-grid-4 {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 50px;
        width: 100%;
        margin: 0 auto;

      }

    .product-item {
        display: flex;
        flex-direction: column;
        position: relative;
        align-items: center;
        width: 100%;
        overflow: hidden;
        height: auto;
    }

    .product-img-wrap {
        width: 100%;
        overflow: hidden;
    }

    .product-item img {
        max-width: 100%;
        height: 100%;
        display: block;
        object-fit: cover;
        transition: transform 0.3s ease-in-out;
        transform-origin: center center;
    }

    .product-item img:hover {
        transform: scale(1.04);
    }


    .wish-icon {
        align-self: flex-end;
        transform: translateX(-70%) translateY(-140%);
        font-size: 120%;
    }

    .product-price {
        padding: 10px 0px 5px 0px;
        font-size: 13px;
        text-decoration: line-through;
        color: #999999
    }


    .product-sale {
        background-color: #222222;
        color: #e8b035;
        ;
        font-size: 12px;
        font-weight: 600;
        padding: 0px 5px;
    }

    .product-sale-price {
        font-size: 14px;
        font-weight: 600;


    }




    .pagination {
        display: flex;
        justify-content: center;
        align-items: center;
        // list-style: none;
        padding: 0;
        margin-top: 80px;

        .page-item {
            font-size: 12px;
            cursor: pointer;
        }

        .page-link {
            color: rgb(139, 139, 139);
            padding: 5px 10px;
            text-decoration: none;
            transition: color 0.3s ease;
        }

        .active .page-link,
        .page-item:hover .page-link {
            color: rgb(0, 0, 0);
        }

        /* 이전/다음 버튼 스타일 */
        .prev,
        .next {
            cursor: pointer;
            opacity: 0.6;
            transition: opacity 0.3s ease;
            margin: 0 20px;
        }

        .prev:hover,
        .next:hover {
            opacity: 1;
        }

        .prev a,
        .next a {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            padding: 0;
        }
    }


    /* **************************
        상품 상세페이지 ****
    ***************************/

    .product-imgs-slider {
        // display: flex;
        padding: 50px;
        background-color: rgb(250, 250, 250);
        margin: 0 auto;
        text-align: center;
    }

    .slick-slide img {
        width: 70% !important;
        max-width: 300px;
        height: auto !important;
        max-width: 100% !important;
        object-fit: cover !important;
    }



    .product-detail-contents {
        display: grid;
        grid-template-columns: 1fr auto;
        gap: 6.4rem;
        margin: 5rem 0rem 0rem;
        padding: 0rem 0rem 6.5rem;

    }

    .product-detail-left {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0 50px;
    }

    .product-detail-imgs {
        width: 100%;

        img {
            width: 100%;
            height: auto;
            object-fit: contain;
        }
    }


    .product-detail-right {
        width: 30vw;
        max-width: 48rem;
        ;
        display: flex;
        flex-direction: column;
        position: sticky;
        top: 180px;
        align-self: start;
        padding-right: 30px;
    }

    .product-detail-price {
        margin-top: 20px;
    }


    .product-detail-price-cancle {
        font-size: 14px;
        color: gray;
        text-decoration: line-through;
    }

    .order-price {
        display: flex;
        align-items: center;
        padding-top: 10px;
        gap: 10px;

        div:first-child {
            background-color: #222222;
            color: #e8b035;
            ;
            font-size: 13px;
            font-weight: 600;
            padding: 0px 5px;
        }

        div:last-child {
            font-size: 16px;
            letter-spacing: 0.8px;
            font-weight: 600;
        }

    }

    .product-detail-delivery {

        margin: 10px 0;
        font-size: 12px;

        li {
            display: flex;
            line-height: 20px;

            p:first-child {
                width: 100px;
                color: #a1a0a0
            }

            p:last-child {
                color: #666666
            }
        }
    }

    .product-detail-qty {
        background-color: rgba(0, 0, 0, 0.03);
        padding: 10px 13PX;
        font-size: 12PX;
        color: #333333;

        .product-detail-qty-box {
            justify-content: space-between;
            display: flex;
            padding-top: 10px;
            vertical-align: center;
            align-items: center;

            div {
                background-color: white;
                border: 1px solid rgba(0, 0, 0, 0.1);
                ;
                width: 100px;
                padding: 5px 2px;
                justify-content: space-between;
                display: flex;

            }

            button {
                border: none;
            }
        }
    }

    .product-detail-total-price {
        display: flex;
        justify-content: space-between;
        margin: 20px 0;
        padding: 0 2px;
        color: #333333;
    }

    .btn-wrap {
        display: flex;
        justify-content: space-between;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(10px, 1fr));
        width: 100%;
        gap: 0.5rem;
    }



    .w-btn {
        padding: 0 5px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        ;
        height: 40px;
        font-size: 13px;
        align-items: center;
        justify-content: center;
        color: #333333;
    }

    .w-btn2 {
        padding: 5px 15px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        ;
        height: 40px;
        font-size: 13px;
        align-items: center;
        justify-content: center;
        color: #333333;
    }

    .b-btn {
        padding: 0 20px;
        background-color: #333333;
        color: white;
    }
    .b-btn2 {
        padding: 5px;
        background-color: #333333;
        font-size: 12px;
        color: white;
    }

    /* payments */

    .product-detail-payments li {
        margin: 20px 0 15px 0;
        border-top: 1.5px solid black;
        display: flex;
        position: relative;
        width: 380px;
        justify-content: space-between;
        padding: 10px 0;
    }




    .product-detail-payments-naver .naver-text {
        width: 90px;
        height: auto;
        background: url("../../public/images/npay_sp_text.png") no-repeat center;
        margin: 0;
        padding: 0;
        background-size: 80px auto;

    }

    .product-detail-payments-naver .naver-img {
        width: 200px;
        height: auto;
        padding: 0 5px;
        background-color: #00de5a !important;
        background: url("../../public/images/npay_sp_payment.png") no-repeat center;
        border-radius: 5px;
        background-size: 80px auto;

    }

    .product-detail-payments-kakao .kakao-text {
        text-align: left;
        margin-left: 6px;
        width: 80px;
    }

    .product-detail-payments-kakao .kakao-img {
        width: 200px;
        height: auto;
        padding: 0 5px;
        background-color: yellow !important;
        background: url("../../public/images/kakaopay.svg") no-repeat center;
        border-radius: 5px;
        background-size: 45px auto;

    }

    /* rightside - info, notice설명글 */

    .product-detail-notice {
        line-height: 20px;
        font-size: 12px;
        color: rgba(0, 0, 0, 0.5);
    }

    .product-detail-notice li {
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        ;
    }

    .refundDes p {
        margin-bottom: 10px;

        span:first-child {
            font-weight: 600;
        }
    }

    .toggle-show,
    .toggle-hide {
        padding: 0px 0px 10px 0px;
    }

    .toggle-hide {
        display: none;
    }

    .product-detail-notice-item {
        display: flex;
        align-items: center;
        vertical-align: center;
        padding: 10px 0px;
        // border: 1px solid red;
        gap: 10px;

    }

    .info-toggle-icon {
        position: relative;
        top: 2px;
    }

    .product-detail-bottom-notice {
        margin-top: 10px;

        li {
            list-style-type: disc;
            font-size: 12px;
            color: rgba(0, 0, 0, 0.5);
            margin-left: 15px;
            line-height: 20px;
        }

    }

    /* review */
    .product-detail-review {

    margin-top: 30px;


    .review-top{
        display: flex;
        justify-content: space-between;
        vertical-align: center;
        padding-left: 15px;

        div{
            display: flex;
            gap: 5px;
        }

        .w-btn3 {
            padding: 5px 5px;
            border: 1px solid rgba(0, 0, 0, 0.1);
            font-size: 12px;
            align-items: center;
            justify-content: center;
            color: #333333;
        }
    }
    
    
    
}

    .table {
        width: 100%;
        // border: 1px solid red;
        margin: 10px;
        font-size: 12px;
        table-layout: fixed;
        color: #333333;
        
        border-bottom: 1px solid #e5e5e5;;
    }
    
    .table td {
        border-top: 1px solid #e5e5e5;;
        text-align: center;
        padding: 8px 10px 7px;
        vertical-align: middle
    }

    .table td:nth-child(2) {
        text-align: left;
        padding-left: 20px;
      }

      .review-content {
        text-align: left !important;
        padding-left: 7% !important;

        p {
            margin: 10px 0 15px 0;
        }

        img {
            width: 100px;
            margin-right : 10px;
            border-radius: 5px;
        }
      }

}